





























<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="">
</head>
<body>
  <h1>CONTROL THIS ROBOT</h1>
  <h2>it will be fun</h2>
  <form action="/on" method="get">
    <input type="submit" value="ON" name="on-btn">
  </form>
  <form action="/off" method="get">
    <input type="submit" value="OFF" name="off-btn">
  </form>
  <form method="put" action="/active">
    <p><%= stuff %></p>
    <select name="createType" id="addRoute inputType">

      <option value="gym">gym</option>
    </select>

  </form>

</body>
</html>
